<!DOCTYPE html>
<html>
  <head>
    <title>El Dorado</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <li><%= link_to "Edit fleet", ships_path %></li>
  <li><%= link_to "Calculate composition", fleet_calculator_show_path %></li>
  <hr>
    <%= yield %>
  </body>
</html>
